/* VARIABLES */
/* PRIMARY */
/* LIGHT THEME */
/* DARK THEME */
@-webkit-keyframes displayError {
  from {
    top: -5rem;
  }
  to {
    top: 5rem;
  }
}
@keyframes displayError {
  from {
    top: -5rem;
  }
  to {
    top: 5rem;
  }
}

@-webkit-keyframes hideError {
  from {
    top: 5rem;
  }
  to {
    top: -5rem;
  }
}

@keyframes hideError {
  from {
    top: 5rem;
  }
  to {
    top: -5rem;
  }
}

@-webkit-keyframes displayTask {
  from {
    top: -20rem;
  }
  to {
    top: 0;
  }
}

@keyframes displayTask {
  from {
    top: -20rem;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes removeTask {
  from {
    left: 0;
  }
  to {
    left: 80rem;
  }
}

@keyframes removeTask {
  from {
    left: 0;
  }
  to {
    left: 80rem;
  }
}

/* SITE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #484b6a;
}

/* HEADER */
.header {
  height: 20rem;
  padding-top: 4rem;
  background: url(../images/bg-mobile-light.jpg) center no-repeat;
  background-size: cover;
}

.header-area {
  font-size: clamp(1.4rem, 1vw, 3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 54rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.header-area__heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #fafafa;
}

.header-area__btn {
  position: relative;
  top: -0.5rem;
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-area__btn--icon {
  display: block;
}

/* SECTION */
.to-do-app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.7rem;
  top: -9rem;
  max-width: 54rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.to-do-app__text {
  font-size: 1.4rem;
  margin-top: 1.8rem;
  color: #9394a5;
  text-align: center;
}

.input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: -20rem;
  height: 5rem;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  -webkit-animation: 1.5s linear 1s forwards displayTask;
          animation: 1.5s linear 1s forwards displayTask;
}

.input-container__circle {
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  border: 1px solid #d2d3db;
  background-color: transparent;
}

.input-container__input {
  font-family: 'Josefin Sans', sans-serif;
  min-width: 80%;
  padding-left: 0.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fafafa;
  outline: none;
}

.input-container__input:focus {
  border: 1px solid #d2d3db;
}

.input-container__input::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #484b6a;
}

.input-container__input:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #484b6a;
}

.input-container__input::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #484b6a;
}

.input-container__input::placeholder {
  font-size: 1.4rem;
  color: #484b6a;
}

.input-container__label {
  visibility: hidden;
  width: 1rem;
}

.task-container {
  border-radius: 0.5rem;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 5px 30px -20px #42445a;
          box-shadow: 0px 5px 30px -20px #42445a;
  overflow: hidden;
}

.task {
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem 0 2.5rem;
  border-bottom: 1px solid #e4e5f1;
  -webkit-animation: 0.5s forwards displayTask;
          animation: 0.5s forwards displayTask;
}

.task__circle {
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  border: 1px solid #d2d3db;
  background-color: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 1;
}

.task__circle--icon {
  display: none;
  position: relative;
  height: 1rem;
  width: 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.task__input {
  position: absolute;
  left: 2.5rem;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  cursor: pointer;
}

.task__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 1;
          flex: 1 0 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.7rem 0;
  margin-left: 1.5rem;
  overflow-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
}

.task__delete {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: #9394a5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.task__delete--x-img {
  display: block;
  height: 1.4rem;
  width: 1.4rem;
}

.task-completed-text {
  -webkit-text-decoration: line-through #9394a5;
          text-decoration: line-through #9394a5;
  color: #d2d3db;
}

.task-completed-circle {
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right bottom, #57ddff, #c058f3);
  border: none;
}

.task-completed-circle > .task__circle--icon {
  display: block;
}

.task-remove {
  -webkit-animation: 0.4s forwards removeTask;
          animation: 0.4s forwards removeTask;
}

.task__input:hover + .task__circle {
  border: 1px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa)), -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#fafafa, #fafafa), linear-gradient(to right bottom, #57ddff, #c058f3);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.empty-state {
  padding: 5rem 0rem;
  color: #9394a5;
  text-align: center;
  border-bottom: 1px solid #e4e5f1;
}

.empty-state__heading {
  margin-bottom: 3rem;
}

.empty-state__option {
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

.empty-state__option--circle {
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  border: 1px solid #d2d3db;
  background-color: transparent;
}

.empty-state__option--x-img {
  display: block;
  height: 1.4rem;
  width: 1.4rem;
}

.button-container,
.button-container2 {
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5rem;
  padding: 0 2.5rem;
}

.button-container__text,
.button-container2__text {
  color: #9394a5;
}

.button-container__state-btns,
.button-container2__state-btns {
  display: none;
}

.button-container__state-btns--btn,
.button-container2__state-btns--btn {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: #9394a5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: 700;
}

.button-container__state-btns--btn:hover,
.button-container2__state-btns--btn:hover {
  color: #484b6a;
}

.button-container__clear-btn--btn,
.button-container2__clear-btn--btn {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: #9394a5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  text-transform: capitalize;
  font-size: clamp(1.2rem, 1vw, 1.4rem);
  padding: 1rem 0;
}

.button-container__clear-btn--btn:hover,
.button-container2__clear-btn--btn:hover {
  color: #484b6a;
}

.button-container2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: none;
  border-radius: 0.5rem;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 5px 30px -20px #42445a;
          box-shadow: 0px 5px 30px -20px #42445a;
}

.button-container2__btn {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: #9394a5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  font-weight: 700;
}

.button-container2__btn:hover {
  color: #484b6a;
}

.active-btn {
  color: #3a7bfd;
}

/* INPUT ERROR */
.input-error {
  font-size: clamp(1.4rem, 1vw, 3rem);
  position: absolute;
  top: -5rem;
  left: 50%;
  translate: -50%;
  border-radius: 0.5rem;
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
}

.input-error__text {
  padding: 1rem;
  color: #fff;
}

.input-error-display {
  -webkit-animation: 0.5s forwards displayError;
          animation: 0.5s forwards displayError;
}

.input-error-hide {
  -webkit-animation: 0.5s forwards hideError;
          animation: 0.5s forwards hideError;
}

/* FOOTER */
footer {
  position: relative;
  top: -7rem;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
  .header {
    background: url(../images/bg-desktop-light.jpg) center no-repeat;
    background-size: cover;
  }
  .button-container__state-btns {
    display: block;
  }
  .button-container2 {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */