@mixin btn-circle {
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border: 1px solid $light-grayish-blue_light;
	background-color: transparent;
}

@mixin btn {
	font-family: 'Josefin Sans', sans-serif;
	padding: 1rem;
	border: none;
	background-color: transparent;
	color: $dark-grayish-blue_light;
	transition: color 0.3s;
	cursor: pointer;
}
