/* VARIABLES */
@import './colors';
@import './mixins';

$heading-text-size: 1.4rem;
$general-text-size: 1.2rem;

/* SITE */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	min-height: 100vh;
	background-color: $very-light-gray;
}

/* HEADER */

.header {
	height: 20rem;
	padding: 4rem 2.5rem 0;
	background: url(../images/bg-desktop-light.jpg) center no-repeat;
	background-size: cover;
}

.header-area {
	font-size: $heading-text-size;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__heading {
		align-self: center;
		text-transform: uppercase;
		letter-spacing: 1rem;
		color: $very-light-gray;
	}

	&__btn {
		position: relative;
		top: -0.5rem;
		padding: 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&--icon {
			display: block;
		}
	}
}

/* MAIN */

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2.5rem;
}

/* SECTION */

.to-do-app {
	width: 100%;

	&__text {
		position: relative;
		top: -3rem;
		color: $dark-grayish-blue_light;
		text-align: center;
	}
}

.input-container {
	position: relative;
	display: flex;
	flex-direction: row;
	top: -9rem;
	height: 5rem;
	padding: 1.5rem 2rem;
	border-radius: 0.5rem;
	background-color: $very-light-gray;

	&__btn {
		@include btn-circle;
	}

	&__input {
		font-family: 'Josefin Sans', sans-serif;
		min-width: 17rem;
		padding-left: 0.5rem;
		margin-left: 1rem;
		border-radius: 0.5rem;
		border: none;
		background-color: $very-light-gray;
		outline: none;
	}

	&__input:focus {
		border: 1px solid $light-grayish-blue_light;
	}

	&__input::placeholder {
		color: $very-dark-grayish-blue_light;
	}

	&__label {
		visibility: hidden;
	}
}

.task-container {
	position: relative;
	top: -7.5rem;
	border-radius: 0.5rem;
	background-color: $very-light-gray;
	box-shadow: 0px 5px 30px -20px rgba(66, 68, 90, 1);
}

.task {
	// display: block;
	display: flex;
	flex-direction: row;
	// justify-content: center;
	justify-content: space-between;
	align-items: center;
	min-height: 5rem;
	padding: 0 2.5rem;
	border-bottom: 1px solid $very-light-grayish-blue;

	&__taskarea {
		// display: block;
		// min-height: 5rem;
	}

	&__delete {
		@include btn;
		padding: 1rem 0;
		// align-self: flex-end;
		// justify-self: flex-end;
		&--img {
			display: block;
		}
	}
}

.empty-state {
	padding: 5rem 2rem;
	color: $dark-grayish-blue_light;
	text-align: center;

	&__heading {
		font-size: $heading-text-size;
		margin-bottom: 3rem;
	}

	&__option {
		font-size: $general-text-size;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		margin: 1rem;

		&--btn {
			@include btn-circle;
		}
	}
}

.button-container {
	font-size: $general-text-size;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 5rem;
	padding: 0 2.5rem;
	border-top: 1px solid $very-light-grayish-blue;

	&__text {
		color: $dark-grayish-blue_light;
	}

	&__state-btns {
		display: none;

		&--btn {
			@include btn;
			font-weight: 700;
		}
	}

	&__clear-btn {
		&--btn {
			@include btn;
			text-transform: capitalize;
			font-size: $general-text-size;
			padding: 1rem 0;
		}
	}
}

.button-container:nth-child(3) {
	position: relative;
	top: -6rem;
	justify-content: center;
	border-top: none;
	border-radius: 0.5rem;
	background-color: $very-light-gray;
	box-shadow: 0px 5px 30px -20px rgba(66, 68, 90, 1);
}

.button-container__btn {
	@include btn;
	font-weight: 700;
}

.active-btn {
	color: $bright-blue;
}

/* FOOTER */

footer {
	text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
}
