/* VARIABLES */
@import './colors';
@import './mixins';
@import './animations';

$heading-text-size: 1.4rem;
$general-text-size: 1.2rem;

/* SITE */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	min-height: 100vh;
	background-color: $very-light-gray;
	color: $very-dark-grayish-blue_light;
}

/* HEADER */

.header {
	height: 20rem;
	padding: 4rem 2.5rem 0;
	background: url(../images/bg-desktop-light.jpg) center no-repeat;
	background-size: cover;
}

.header-area {
	font-size: $heading-text-size;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__heading {
		align-self: center;
		text-transform: uppercase;
		letter-spacing: 1rem;
		color: $very-light-gray;
	}

	&__btn {
		position: relative;
		top: -0.5rem;
		padding: 1rem;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&--icon {
			display: block;
		}
	}
}

/* SECTION */

.to-do-app {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
	top: -9rem;
	padding: 0 2.5rem;

	&__text {
		font-size: $heading-text-size;
		margin-top: 1.8rem;
		color: $dark-grayish-blue_light;
		text-align: center;
	}
}

.input-container {
	display: flex;
	flex-direction: row;
	height: 5rem;
	padding: 1.5rem 2.5rem;
	border-radius: 0.5rem;
	background-color: $very-light-gray;

	&__circle {
		@include btn-circle;
	}

	&__input {
		font-family: 'Josefin Sans', sans-serif;
		min-width: 80%;
		padding-left: 0.5rem;
		margin-left: 1rem;
		border-radius: 0.5rem;
		border: none;
		background-color: $very-light-gray;
		outline: none;
	}

	&__input:focus {
		border: 1px solid $light-grayish-blue_light;
	}

	&__input::placeholder {
		color: $very-dark-grayish-blue_light;
	}

	&__label {
		visibility: hidden;
		width: 1rem;
	}
}

.task-container {
	border-radius: 0.5rem;
	background-color: $very-light-gray;
	box-shadow: 0px 5px 30px -20px rgba(66, 68, 90, 1);
	overflow: hidden;
}

.task {
	font-size: $general-text-size;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1.5rem 0 2.5rem;
	border-bottom: 1px solid $very-light-grayish-blue;
	animation: 0.5s forwards displayTask;

	&__circle {
		@include btn-circle;
		flex: 0 0 auto;

		&--icon {
			display: none;
			position: relative;
			height: 1rem;
			width: 1rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 50%);
		}
	}

	&__input {
		position: absolute;
		left: 2.5rem;
		height: 2rem;
		width: 2rem;
		opacity: 0;
		cursor: pointer;
	}

	&__textarea {
		flex: 1 0 1;
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1.7rem 0;
		margin-left: 1.5rem;
		overflow-wrap: break-word;
		word-break: break-all;
		cursor: pointer;
	}

	&__delete {
		@include btn;
		flex: 0 0 auto;

		&--x-img {
			display: block;
			height: 1.4rem;
			width: 1.4rem;
		}
	}
}

.task-completed-text {
	text-decoration: line-through $dark-grayish-blue_light;
	color: $light-grayish-blue_light;
}

.task-completed-circle {
	background: linear-gradient(to right bottom, $check-background1, $check-background2);
	border: none;
}

.task-completed-circle > .task__circle--icon {
	display: block;
}

.task-remove {
	animation: 0.4s forwards removeTask;
}

.task__input:hover + .task__circle {
	border: 1px solid transparent;
	background-image: linear-gradient($very-light-gray, $very-light-gray),
		linear-gradient(to right bottom, $check-background1, $check-background2);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.empty-state {
	padding: 5rem 0rem;
	color: $dark-grayish-blue_light;
	text-align: center;
	border-bottom: 1px solid $very-light-grayish-blue;

	&__heading {
		font-size: $heading-text-size;
		margin-bottom: 3rem;
	}

	&__option {
		font-size: $general-text-size;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		margin: 1rem;

		&--circle {
			@include btn-circle;
		}

		&--x-img {
			display: block;
			height: 1.4rem;
			width: 1.4rem;
		}
	}
}

.button-container,
.button-container2 {
	font-size: $general-text-size;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	min-height: 5rem;
	padding: 0 2.5rem;

	&__text {
		color: $dark-grayish-blue_light;
	}

	&__state-btns {
		display: none;

		&--btn {
			@include btn;
			font-weight: 700;
		}
	}

	&__clear-btn {
		&--btn {
			@include btn;
			text-transform: capitalize;
			font-size: $general-text-size;
			padding: 1rem 0;
		}
	}
}

.button-container2 {
	justify-content: center;
	border-top: none;
	border-radius: 0.5rem;
	background-color: $very-light-gray;
	box-shadow: 0px 5px 30px -20px rgba(66, 68, 90, 1);

	&__btn {
		@include btn;
		font-weight: 700;
	}
}

.active-btn {
	color: $bright-blue;
}

/* INPUT ERROR */

.input-error {
	font-size: $heading-text-size;
	position: absolute;
	top: -5rem;
	left: 50%;
	translate: -50%;
	border-radius: 0.5rem;
	background-color: rgba($color: red, $alpha: 0.8);
	text-align: center;

	&__text {
		padding: 1rem;
		color: #fff;
	}
}

.input-error-display {
	animation: 0.5s forwards displayError;
}

.input-error-hide {
	animation: 0.5s forwards hideError;
}

/* FOOTER */

footer {
	text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
}
